<template>
  <v-menu
    bottom
    left
    min-width="200"
    offset-y
    origin="top right"
    transition="scale-transition"
  >
    <template v-slot:activator="{ attrs, on }">
      <v-btn class="ml-2" min-width="0" text v-bind="attrs" v-on="on">
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </template>

    <v-list :tile="false" flat nav>
      <template v-for="(p, i) in profile">
        <div :key="`divider-${i}`" @click="p.action()">
          <v-divider v-if="p.divider" class="mb-2 mt-2" />

          <app-bar-item v-else :key="`item-${i}`">
            <v-list-item-title v-text="p.title" />
          </app-bar-item>
        </div>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "DefaultAccount",

  data: function() {
    return {
      profile: [
        {
          title: "Profil",
          action: () => {
            this.$router.push("/profil");
          },
        },
        // { title: 'Settings' },
        { divider: true },
        {
          title: "Se déconnecter",
          action: () => {
            this.$store.set("user/accessToken", null);
            this.$router.push("/login");
          },
        },
      ],
    };
  },
};
</script>
