<template>
  <div>
    <v-text-field
      v-if="type === 'text' || type === 'password' || type === 'number'"
      :type="type === 'password' ? (show ? 'text' : 'password') : type"
      :name="name"
      :placeholder="placeholder"
      :label="label"
      :error-messages="error"
      :append-icon="
        type === 'password' ? (show ? 'mdi-eye' : 'mdi-eye-off') : ''
      "
      v-bind:value="value"
      v-bind:checked="value"
      v-on:input="updateVal"
      @click:append="type === 'password' ? (show = !show) : () => {}"
      :disabled="disabled"
    ></v-text-field>
    <v-checkbox
      v-else-if="type === 'checkbox'"
      :type="type"
      :name="name"
      :placeholder="placeholder"
      :label="label"
      :error-messages="error"
      :input-value="value"
      :aria-checked="value === 'true' || value === true ? true : false"
      @change="updateVal"
      :disabled="disabled"
    ></v-checkbox>
    <v-radio-group
      v-else-if="type === 'radio'"
      :name="name"
      :label="label"
      :error-messages="error"
      :value="value"
      @change="updateVal"
      :disabled="disabled"
    >
      <v-radio
        v-for="option in options"
        :key="option.value"
        :label="option.label"
        :value="option.value"
        :disabled="disabled"
      ></v-radio>
    </v-radio-group>
    <v-menu
      v-else-if="type === 'date'"
      v-model="menu"
      :close-on-content-click="false"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      min-width="auto"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          :name="name"
          :placeholder="placeholder"
          :label="label"
          :error-messages="error"
          v-bind:value="value"
          v-on:input="updateVal"
          prepend-icon="mdi-calendar"
          readonly
          v-bind="attrs"
          v-on="on"
          :disabled="disabled"
        ></v-text-field>
      </template>
      <v-date-picker
        v-bind:value="value"
        v-on:input="updateVal"
        @input="menu2 = false"
        :disabled="disabled"
      ></v-date-picker>
    </v-menu>
    <v-menu
      v-else-if="type === 'time'"
      ref="menu2"
      v-model="menu2"
      :close-on-content-click="false"
      :nudge-right="40"
      :return-value.sync="time"
      transition="scale-transition"
      offset-y
      max-width="290px"
      min-width="290px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          :name="name"
          :placeholder="placeholder"
          :label="label"
          :error-messages="error"
          v-bind:value="value"
          v-on:input="updateVal"
          prepend-icon="mdi-clock-time-four-outline"
          readonly
          v-bind="attrs"
          v-on="on"
          :disabled="disabled"
        ></v-text-field>
      </template>
      <v-time-picker
        v-if="menu2"
        v-bind:value="value"
        v-on:input="updateVal"
        full-width
        @click:minute="$refs.menu2.save(value)"
        :disabled="disabled"
      ></v-time-picker>
    </v-menu>
    <input
      v-else
      :type="type"
      :name="name"
      :placeholder="placeholder"
      v-bind:value="value"
      v-bind:checked="value"
      v-on:input="updateVal"
      :disabled="disabled"
    />
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {
    type: String,
    name: String,
    placeholder: String,
    value: { type: [String, Boolean, Number, Array] },
    updateVal: Function,
    error: String,
    label: String,
    options: Array,
    field_model: { type: [String, Boolean, Number, Array] },
    disabled: Boolean,
  },
  data: function() {
    return {
      show: false,
      time: null,
      menu: false,
      menu2: false,
    };
  },
};
</script>

<style></style>
