<template>
  <v-select
    :name="name"
    :placeholder="placeholder"
    :items="options"
    :label="label"
    :multiple="multiple"
    :error-messages="error"
    v-bind:value="value"
    v-on:input="updateVal"
  ></v-select>
</template>

<script>
export default {
  name: "Select",
  props: {
    type: String,
    name: String,
    placeholder: String,
    value: { type: [String, Boolean, Number, Array] },
    label: String,
    updateVal: Function,
    multiple: Boolean,
    options: Array,
    error: String,
  },
};
</script>

<style>
select {
  border: 1px solid;
}
</style>
