<template>
  <v-textarea
    :name="name"
    :label="label"
    :value="value"
    v-on:input="updateVal"
    :maxLength="maxLength"
    :rows="rows"
    :error-messages="error"
    auto-grow
  ></v-textarea>
</template>

<script>
export default {
  name: "TextArea",
  props: {
    type: String,
    name: String,
    placeholder: String,
    value: { type: [String, Boolean, Number, Array] },
    updateVal: Function,
    maxLength: Number,
    rows: Number,
    error: String,
    label: String,
  },
};
</script>

<style></style>
