<template>
  <v-container>
    <v-skeleton-loader
      v-if="loading"
      type="table"
      :loading="loading"
    ></v-skeleton-loader>
    <v-data-table
      v-else
      :headers="columns"
      :items="data"
      sort-by="calories"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-if="!noCrud"
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
                @click="newItem"
              >
                New Item
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <vuemik :onFinish="save" :initialValues="{ ...editedItem }">
                    <v-row>
                      <v-col
                        cols="12"
                        v-for="(item, index) in form.fields"
                        :key="index"
                      >
                        <field
                          :type="item.type"
                          :name="item.name"
                          :label="item.label"
                          :placeholder="item.placeholder"
                          :value="item.value"
                          :as="item.as"
                          :options="categories"
                          :disabled="item.disabled"
                        />
                      </v-col>
                    </v-row>
                  </vuemik>
                </v-container>
              </v-card-text>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline"
                >Etes vous sûr de vouloir supprimer cette ligne?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Annuler</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >Oui</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
          v-if="!noCrud"
          color="orange"
          @click="editItem(item)"
          class="mr-2"
        >
          <v-icon left small>
            mdi-pencil
          </v-icon>
          Editer
        </v-btn>
        <v-btn
          v-if="!noCrud"
          color="red"
          @click="deleteItem(item)"
          class="mr-2"
        >
          <v-icon left small>
            mdi-delete
          </v-icon>
          Supprimer
        </v-btn>
        <v-btn
          v-for="(action_item, index) in item.actions"
          :key="index"
          :color="action_item.color"
          @click="action_item.action(item)"
          class="mr-2"
          :disabled="action_item.disabled"
        >
          <v-icon left small>{{ action_item.icon }}</v-icon>
          {{ action_item.label }}
        </v-btn>
        <v-btn
          v-for="(action_item, index) in actions"
          :key="index"
          :color="action_item.color"
          @click="action_item.action(item)"
          class="mr-2"
          :disabled="action_item.disabled"
        >
          <v-icon left small>{{ action_item.icon }}</v-icon>
          {{ action_item.label }}
        </v-btn>
      </template>
      <template v-slot:no-data>
        <!-- <v-btn color="primary" @click="initialize">
        Reset
      </v-btn> -->
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import moment from "moment";

export default {
  name: "AdminTable",
  props: {
    title: String,
    columns: Array,
    data: Array,
    formNew: Object,
    formEdit: Object,
    actions: Array,
    noCrud: Boolean,
    onDelete: Function,
    loading: Boolean,
    categories: Array,
  },
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      editedItem: {
        name: "",
        firstname: "",
        mail: "",
        createdAt: "",
      },
      defaultItem: {
        name: "",
        firstname: "",
        mail: "",
        createdAt: "",
      },
      form: [],
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  methods: {
    editItem(item) {
      this.form = this.formEdit;
      this.editedIndex = this.data.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.data.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    async deleteItemConfirm() {
      if (this.onDelete) {
        try {
          await this.onDelete(this.editedItem);
        } catch (error) {
          console.error("Error on deleting item", error);
        }
      }
      this.data.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save(values) {
      if (this.editedIndex > -1) {
        try {
          await this.formEdit.onFinish(values);
          Object.assign(this.data[this.editedIndex], values);
        } catch (error) {
          console.error("Error on editing new item", error);
        }
      } else {
        try {
          await this.formNew.onFinish(values);
          this.data.push(values);
        } catch (error) {
          console.error("Error on saving new item", error);
        }
      }
      this.close();
    },
    newItem() {
      this.form = this.formNew;
      this.dialog = true;
      this.editedItem = {
        mail: "",
        password: "",
      };
    },
  },
};
</script>

<style>
/* .text-start {
  display: flex;
  align-items: center; */
/* } */
</style>
