<template>
  <v-app-bar id="auth-app-bar" app>
    <v-toolbar-title @click="home">FindYourMate</v-toolbar-title>
  </v-app-bar>
</template>

<script>
export default {
  name: "AuthAppBar",
  methods: {
    home: function() {
      console.log("ok");
      this.$router.push("/login");
    },
  },
};
</script>

<style></style>
