<template>
  <v-app>
    <auth-bar />
    <default-view />
  </v-app>
</template>

<script>
export default {
  name: "DefaultLayout",

  components: {
    AuthBar: () =>
      import(
        /* webpackChunkName: "default-app-bar" */
        "./AppBar"
      ),
    DefaultDrawer: () =>
      import(
        /* webpackChunkName: "default-drawer" */
        "../default/Drawer"
      ),
    DefaultFooter: () =>
      import(
        /* webpackChunkName: "default-footer" */
        "../default/Footer"
      ),
    DefaultSettings: () =>
      import(
        /* webpackChunkName: "default-settings" */
        "../default/Settings"
      ),
    DefaultView: () =>
      import(
        /* webpackChunkName: "default-view" */
        "../default/View"
      ),
  },
};
</script>
