<template>
  <div class="vuemik_field">
    <div v-if="$slots.default || $scopedSlots.default">
      <slot
        :childProps="{
          type,
          placeholder,
          checked: field_model,
          value: field_model,
          name,
          disabled,
        }"
        :value="value"
        :label="label"
        :checked="checked"
        :updateVal="updateVal"
        :options="options"
        :error="error"
        :rows="rows"
        :maxLength="maxLength"
        :multiple="multiple"
        :field_model="field_model"
        :disabled="disabled"
      ></slot>
      <span class="err">{{ error }}</span>
    </div>
    <component
      v-else
      :is="component ? component : as"
      :type="type"
      :placeholder="placeholder"
      :name="name"
      :label="label"
      :value="value"
      :checked="value"
      :updateVal="updateVal"
      :options="options"
      :error="error"
      :multiple="multiple"
      :rows="rows"
      :maxLength="maxLength"
      v-model="field_model"
      :field_model="field_model"
      :disabled="disabled"
    ></component>
    <span class="err" v-if="component">{{ error }}</span>
  </div>
</template>

<script>
import Vue from "vue";
var timeout = null;

Vue.component("vuemik_input", () => import("./Fields/Input"));
Vue.component("vuemik_select", () => import("./Fields/Select"));
Vue.component("vuemik_textarea", () => import("./Fields/TextArea"));

export default {
  name: "Field",
  props: {
    type: String,
    placeholder: String,
    value: { type: [String, Boolean, Number, Array] },
    name: String,
    checked: Boolean,
    as: { type: String, default: "vuemik_input" },
    component: Function,
    label: String,
    options: Array,
    multiple: Boolean,
    maxLength: Number,
    rows: Number,
    disabled: Boolean,
  },
  data: function() {
    return {
      error: "",
      field: "",
    };
  },
  methods: {
    updateVal: function(event) {
      let val =
        this.type === "radio" || this.type === "checkbox"
          ? typeof event === "object"
            ? event.target
              ? event.target.checked
              : event
            : event
          : typeof event === "object"
          ? event.target
            ? event.target.value
            : event
          : event;

      if (timeout) clearTimeout(timeout);

      const promise = new Promise((resolve, reject) => {
        timeout = setTimeout(() => {
          this.field_model = val;
          this.values = val;
          this.errors = "";
          resolve(val);
        }, 100);
      });

      promise.then((value) => {
        this.checkError();
      });
    },
    checkError: async function() {
      if (this.validationSchema)
        if (this.validationSchema()["_nodes"].some((n) => n === this.name)) {
          if (this.field_model !== undefined) {
            let res = await this.validateAt(
              this.name,
              this.field_model === "" ? undefined : this.field_model
            );
            if (!res.isValid) this.error = res.message;
            else this.error = "";
          }
        }
    },
    isErrors: function() {
      this.error = this.errors[this.name];
    },
    fillForm: function() {
      if (this.values && this.values[this.name])
        this.field_model = this.values[this.name];
      else if (this.initialValues && this.initialValues[this.name])
        this.field_model = this.initialValues[this.name];
      else if (this.checked || this.value)
        this.field_model =
          (this.type === "radio" || this.type === "checkbox"
            ? this.checked
            : this.value) || undefined;
      else this.field_model = undefined;
    },
  },
  watch: {
    initialValues: function(val, oldVal) {
      this.fillForm();
    },
    errors: function(val, oldVal) {
      this.isErrors();
    },
  },
  mounted: function() {
    this.fillForm();
  },
  updated: function() {
    this.isErrors();

    this.fillForm();

    this.values = this.field_model;
  },
  destroyed: function() {
    console.log("destroyed");
  },
  inject: [
    "$initialValues",
    "validationSchema",
    "validateAt",
    "$errors",
    "loading",
    "$values",
  ],
  computed: {
    initialValues() {
      return this.$initialValues();
    },
    values: {
      get: function() {
        return this.$values();
      },
      set: function(newValue) {
        this.$values()[this.name] = newValue;
      },
    },
    field_model: {
      get: function() {
        return this.field;
      },
      set: function(newValue) {
        this.field = newValue;
      },
    },
    errors: {
      get: function() {
        this.error = this.$errors()[this.name];
        return this.$errors();
      },
      set: function(newValue) {
        this.$errors()[this.name] = newValue;
        this.error = newValue;
      },
    },
  },
};
</script>

<style>
.vuemik_field {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
}
.err {
  color: #ff5252 !important;
  font-size: 12px;
  line-height: 12px;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: left;
  margin: 5px 0;
}
input,
textarea {
  border-bottom: 1px solid #333333;
}
.theme--light.v-input input,
.theme--light.v-input textarea {
  border-bottom: unset !important;
}
</style>
