<template>
  <form ref="vuemik_form" v-on:submit.prevent="onSubmit">
    <div v-if="loading">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>
    <div v-else>
      <slot></slot>
    </div>
    <slot name="submit"
      ><v-btn type="submit" color="primary" :disabled="loading"
        >Envoyer</v-btn
      ></slot
    >
  </form>
</template>

<script>
export default {
  name: "Vuemik",
  props: {
    initialValues: Object,
    onFinish: Function,
    validationSchema: { type: [Object, Function] },
  },
  provide() {
    return {
      loading: this.loading,
      validationSchema: this.validationSchema,
      validateAt: this.validateAt,
      $initialValues: () => this.initialValuesComputed,
      $values: () => this.values,
      $errors: () => this.errors,
    };
  },
  data: function() {
    return {
      onSubmit: async function() {
        let formValues = JSON.parse(JSON.stringify(this.values));
        let res = { isValid: true, response: formValues };

        this.loading = true;

        if (this.validationSchema) res = await this.validate(formValues);

        this.loading = false;

        if (res.isValid) this.onFinish(res.response);
        else {
          console.log("ERRORRR", res);
          this.errors = this.errorsState;
        }
      },
      loading: false,
      errorsState: {},
      vals: {},
    };
  },
  methods: {
    validate: async function(values) {
      try {
        let response = await this.validationSchema().validate(values, {
          abortEarly: false,
        });
        Object.keys(this.errorsState).forEach((e) => {
          this.errorsState[e] = "";
        });

        return { isValid: true, response };
      } catch (error) {
        error.inner.forEach((error) => {
          console.log(error.path, error.message);
          this.errorsState[error.path] = error.message;
        });

        return { isValid: false, name: error.name, errors: error.errors };
      }
    },

    validateAt: async function(field, value) {
      try {
        let response = await this.validationSchema().validateAt(field, {
          [field]: value,
        });

        this.errors[field] = "";
        return { isValid: true, response };
      } catch (err) {
        this.errors[field] = err.message;
        return { isValid: false, message: err.message };
      }
    },
  },
  mounted: function() {},
  updated: function() {},
  destroyed: function() {
    this.values = {};
    this.errors = {};
  },
  watch: {
    initialValues: function(val, oldVal) {
      if (!_.isEqual(val, oldVal)) this.values = {};
    },
  },
  computed: {
    initialValuesComputed() {
      return this.$props.initialValues;
    },
    values: {
      get: function() {
        return this.vals;
      },
      set: function(value) {
        this.vals = value;
      },
    },
    errors: {
      get: function() {
        return this.errorsState;
      },
      set: function(value) {
        this.errorsState = value;
      },
    },
  },
};
</script>

<style></style>
