<template>
  <v-container>
    <admin-table
      :loading="loading"
      :title="title"
      :columns="columns"
      :data="data"
      :formEdit="formEdit"
      :formNew="formNew"
      :actions="actions"
      :onDelete="onDelete"
    />
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Bloquer
        </v-card-title>

        <vuemik :onFinish="onFinish">
          <field
            type="date"
            name="blockDuration"
            placeholder="Bloquer jusqu'a quand ?"
          />
          <field
            type="textarea"
            name="blockWhy"
            label="Pourquoi ?"
            placeholder="Pourquoi ?"
            as="vuemik_textarea"
          />
        </vuemik>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import api from "../api";

export default {
  data() {
    return {
      loading: false,
      title: "Utilisateurs",
      columns: [
        {
          text: "Nom",
          align: "start",
          sortable: false,
          value: "lastname",
        },
        { text: "Prenom", value: "firstName" },
        { text: "E-mail", value: "email" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      data: [
        {
          lastname: "Sami",
          firstName: "Thairi",
          email: "sami.thair@gmail.com",
        },
        {
          lastname: "Sami",
          firstName: "Thairi",
          email: "sami.thair@gmail.com",
        },
      ],
      formEdit: {
        onFinish: async (values) => {
          console.log(values);
          try {
            await api.fym().user.editUser(values.id, values);
          } catch (error) {
            console.log("edit user ", error);
            throw error;
          }
        },
        fields: [
          {
            type: "text",
            name: "id",
            label: "id",
            placeholder: "id",
            disabled: true,
          },
          {
            type: "text",
            name: "lastname",
            label: "Nom",
            placeholder: "Nom",
          },
          {
            type: "text",
            name: "firstName",
            label: "Prenom",
            placeholder: "Prenom",
          },
          {
            type: "text",
            name: "email",
            label: "E-mail",
            placeholder: "E-mail",
          },
        ],
      },
      formNew: {
        onFinish: async (values) => {
          try {
            await api.fym().user.createUser(values.email, values.password);
          } catch (error) {
            console.log("create user ", error);
            throw error;
          }
        },
        fields: [
          {
            type: "text",
            name: "email",
            label: "E-mail",
            placeholder: "E-mail",
          },
          {
            type: "password",
            name: "password",
            label: "Password",
            placeholder: "Password",
          },
        ],
      },
      onDelete: async function(item) {
        console.log("item deleted", item);
        try {
          await api.fym().user.deleteUser(item.id);
        } catch (error) {
          console.error("Error on deleting", error);
          throw error;
        }
      },
      dialog: false,
    };
  },
  methods: {
    onFinish: async function(values) {
      console.log("block user", values);
      if (values.blockAdmin === "true") values.blockAdmin = "false";
      else values.blockAdmin = "true";

      try {
        await api.fym().user.editUser(values.id, values);
      } catch (error) {
        console.error("Error on blocking user", error);
        throw error;
      }

      this.dialog = false;
    },
    treatment: async function(data) {
      return new Promise((resolve, reject) => {
        resolve(
          data.map((d) => {
            console.log(d);
            if (!d.blockAdmin || d.blockAdmin === "false") {
              return {
                ...d,
                actions: [
                  {
                    color: "purple",
                    action: (item) => {
                      this.dialog = true;
                    },
                    icon: "mdi-block-helper",
                    label: "Bloquer",
                  },
                ],
              };
            } else {
              return {
                ...d,
                actions: [
                  {
                    color: "blue",
                    action: (item) => {
                      this.dialog = true;
                    },
                    icon: "mdi-lock-open",
                    label: "Débloquer",
                  },
                ],
              };
            }
          })
        );
      }).then((value) => {
        return value;
      });
    },
  },
  mounted: function() {
    this.loading = true;

    api
      .fym()
      .user.getUsers()
      .then(async (response) => {
        console.log(response);
        let data = response;
        try {
          data = await this.treatment(data);
        } catch (error) {
          console.error("Error on treating data user", error);
        }
        console.log(data);
        this.data = data;
      })
      .catch((error) => console.error("Error on getting users", error))
      .finally(() => (this.loading = false));
  },
};
</script>

<style></style>
