<template>
  <v-container>
    <admin-table
      :title="title"
      :columns="columns"
      :data="data"
      :formNew="formNew"
      :formEdit="formEdit"
      :actions="actions"
      :loading="loading"
    />
  </v-container>
</template>

<script>
import moment from "moment";
import api from "../api";

export default {
  name: "AdminCategory",
  data() {
    return {
      loading: false,
      title: "Catégorie",
      columns: [
        {
          text: "Titre",
          align: "start",
          sortable: false,
          value: "title",
        },
        { text: "Description", value: "description" },
        { text: "Adresse", value: "address" },
        { text: "Code Postal", value: "postalCode" },
        { text: "Date", value: "date", sortable: false },
        { text: "Categorie", value: "category", sortable: false },
      ],
      data: [],
      formNew: {
        onFinish: async (values) => {
          console.log("values", values);
          try {
            await api.fym().event.createEvent(values);
          } catch (error) {
            console.log("Error on creating event ", error);
            throw error;
          }
        },
        fields: [
          {
            type: "text",
            name: "title",
            label: "Titre",
            placeholder: "Titre",
          },
          {
            type: "textarea",
            as: "vuemik_textarea",
            name: "description",
            label: "Description",
            placeholder: "Description",
          },
          {
            type: "text",
            name: "address",
            label: "Adresse",
            placeholder: "Adresse",
          },
          {
            type: "number",
            name: "postalCode",
            label: "Code Postal",
            placeholder: "Code Postal",
          },
          { type: "date", name: "date", label: "Date", placeholder: "Date" },
          {
            type: "select",
            as: "vuemik_select",
            name: "category",
            label: "Catégorie",
            placeholder: "Catégorie",
          },
        ],
      },
      formEdit: {
        onFinish: (values) => {
          console.log("values", values);
        },
        fields: [
          {
            type: "text",
            name: "title",
            label: "Titre",
            placeholder: "Titre",
          },
          {
            type: "textarea",
            as: "vuemik_textarea",
            name: "description",
            label: "Description",
            placeholder: "Description",
          },
          {
            type: "text",
            name: "address",
            label: "Adresse",
            placeholder: "Adresse",
          },
          {
            type: "number",
            name: "postalCode",
            label: "Code Postal",
            placeholder: "Code Postal",
          },
          { type: "date", name: "date", label: "Date", placeholder: "Date" },
          {
            type: "select",
            as: "vuemik_select",
            name: "category",
            label: "Catégorie",
            placeholder: "Catégorie",
          },
        ],
      },
      actions: [
        {
          color: "green",
          action: (item) => {
            console.log("item", item);
            this.dialog = true;
          },
          icon: "mdi-block-helper",
          label: "Accetper",
        },
      ],
      dialog: false,
    };
  },
  methods: {
    onFinish: function(values) {
      console.log("block user", values);
      this.dialog = false;
    },
  },
  mounted: function() {
    this.loading = true;
    api
      .fym()
      .event.getAllEvent()
      .then((response) => {
        console.log(response);
        this.data = response;
      })
      .catch((error) => console.error("Error on getting events", error))
      .finally(() => (this.loading = false));
  },
};
</script>

<style></style>
