<template>
  <v-container>
    <admin-table
      :title="title"
      :columns="columns"
      :data="data"
      :actions="actions"
      noCrud
      :loading="loading"
    />
  </v-container>
</template>

<script>
import moment from "moment";
import api from "../api";
import { isEmpty } from "lodash";

export default {
  data() {
    return {
      loading: false,
      title: "Certfications",
      columns: [
        {
          text: "Nom",
          align: "start",
          sortable: false,
          value: "lastname",
        },
        { text: "Prenom", value: "firstName" },
        { text: "E-mail", value: "email" },
        { text: "Créer le", value: "createdAt" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      data: [],
      dialog: false,
    };
  },
  methods: {
    onFinish: function(values) {
      console.log("block user", values);
      this.dialog = false;
    },
    getData: function() {
      this.loading = true;
      api
        .fym()
        .user.getUsers()
        .then((response) => {
          console.log(
            response
              .filter((r) => r.certification)
              .map((r) => {
                return {
                  ...r,
                  actions: [
                    {
                      color: "red",
                      action: (item) => {
                        console.log("item", item);
                        api
                          .fym()
                          .certfications.updateCertification(
                            item.certification.id,
                            {
                              validation: false,
                              validationAt: moment().format(
                                "YYYY-MM-DD HH:MM:ss"
                              ),
                            }
                          )
                          .then((response) => {
                            this.getData();
                          })
                          .catch((error) =>
                            console.error("Error on updating certifications")
                          );
                      },
                      icon: "mdi-block-helper",
                      label: "Refuser",
                      disabled: r.certification
                        ? r.certification.validation
                          ? !r.certification.validation
                          : false
                        : false,
                    },
                  ],
                };
              })
          );
          this.data = response
            .filter((r) => r.certification)
            .map((r) => {
              return {
                ...r,
                actions: [
                  {
                    color: "red",
                    action: (item) => {
                      console.log("item", item);
                      api
                        .fym()
                        .certfications.updateCertification(
                          item.certification.id,
                          {
                            validation: false,
                            validationAt: moment().format(
                              "YYYY-MM-DD HH:MM:ss"
                            ),
                          }
                        )
                        .then((response) => {
                          this.getData();
                        })
                        .catch((error) =>
                          console.error("Error on updating certifications")
                        );
                    },
                    icon: "mdi-block-helper",
                    label: "Refuser",
                    disabled: !r.certification.validation,
                  },
                  {
                    color: "green",
                    action: (item) => {
                      api
                        .fym()
                        .certfications.updateCertification(
                          item.certification.id,
                          {
                            validation: true,
                            validationAt: moment().format(
                              "YYYY-MM-DD HH:MM:ss"
                            ),
                          }
                        )
                        .then((response) => {
                          this.getData();
                        })
                        .catch((error) =>
                          console.error("Error on updating certifications")
                        );
                    },
                    icon: "mdi-block-helper",
                    label: "Accetper",
                    disabled: r.certification.validation,
                  },
                ],
              };
            });
        })

        .catch((error) => console.error("Error on getting users", error));
      api
        .fym()
        .certfications.getCertifications()
        .then((response) => console.log(response))
        .catch((error) => console.error("Error on getting certifications"))
        .finally(() => (this.loading = false));
    },
  },
  mounted: function() {
    this.getData();
  },
};
</script>

<style></style>
