<template>
  <v-container>
    <admin-table
      :title="title"
      :columns="columns"
      :data="data"
      :formNew="formNew"
      :formEdit="formEdit"
      :actions="actions"
      :loading="loading"
      :categories="categories"
      :onDelete="onDelete"
    />
  </v-container>
</template>

<script>
import api from "../api";

export default {
  name: "AdminEvenements",
  data() {
    return {
      loading: false,
      categories: [],
      title: "Evenements",
      columns: [
        {
          text: "Titre",
          align: "start",
          sortable: false,
          value: "title",
        },
        { text: "Description", value: "description" },
        { text: "Adresse", value: "address" },
        { text: "Code Postal", value: "postalCode" },
        { text: "Date", value: "date", sortable: false },
        { text: "Categorie", value: "category", sortable: false },
        { text: "Actions", value: "actions", sortable: false },
      ],
      data: [],
      formNew: {
        onFinish: async (values) => {
          console.log("values", values);
          try {
            await api.fym().event.createEvent(values);
          } catch (error) {
            console.log("Error on creating event ", error);
            throw error;
          }
        },
        fields: [
          {
            type: "text",
            name: "title",
            label: "Titre",
            placeholder: "Titre",
          },
          {
            type: "textarea",
            as: "vuemik_textarea",
            name: "description",
            label: "Description",
            placeholder: "Description",
          },
          {
            type: "text",
            name: "address",
            label: "Adresse",
            placeholder: "Adresse",
          },
          {
            type: "number",
            name: "postalCode",
            label: "Code Postal",
            placeholder: "Code Postal",
          },
          { type: "date", name: "date", label: "Date", placeholder: "Date" },
          {
            type: "select",
            as: "vuemik_select",
            name: "category",
            label: "Catégorie",
            placeholder: "Catégorie",
          },
        ],
      },
      formEdit: {
        onFinish: async (values) => {
          console.log("values", values);

          try {
            await api.fym().event.updateEvent(values.id, values);
          } catch (error) {
            console.log("edit user ", error);
            throw error;
          }
        },
        fields: [
          {
            type: "text",
            name: "id",
            label: "id",
            placeholder: "id",
            disabled: true,
          },
          {
            type: "text",
            name: "title",
            label: "Titre",
            placeholder: "Titre",
          },
          {
            type: "textarea",
            as: "vuemik_textarea",
            name: "description",
            label: "Description",
            placeholder: "Description",
          },
          {
            type: "text",
            name: "address",
            label: "Adresse",
            placeholder: "Adresse",
          },
          {
            type: "number",
            name: "postalCode",
            label: "Code Postal",
            placeholder: "Code Postal",
          },
          { type: "date", name: "date", label: "Date", placeholder: "Date" },
          {
            type: "select",
            as: "vuemik_select",
            name: "category",
            label: "Catégorie",
            placeholder: "Catégorie",
          },
        ],
      },
      onDelete: async function(item) {
        console.log("item deleted", item);
        try {
          await api.fym().event.deleteEvent(item.id);
        } catch (error) {
          console.error("Error on deleting", error);
          throw error;
        }
      },
      dialog: false,
    };
  },
  methods: {
    onFinish: function(values) {
      console.log("block user", values);
      this.dialog = false;
    },
  },
  mounted: function() {
    this.loading = true;
    api
      .fym()
      .event.getAllEvent()
      .then((response) => {
        this.data = response;
      })
      .catch((error) => console.error("Error on getting events", error))
      .finally(() =>
        api
          .fym()
          .category.getAllCategory()
          .then((response) => {
            this.categories = response.map((r, index) => {
              return { text: r.name, value: r.id }; //set value to if when its available
            });
          })
          .catch((error) => console.error("Error on getting categories", error))
          .finally(() => (this.loading = false))
      );
  },
};
</script>

<style></style>
