<template>
  <div>
    <div>
        <v-row>
            <v-col
            cols="12"
            md="6"
            >
              <material-card
                  dark
                  icon="mdi-clipboard-plus"
                  icon-small
                  title="Mes candidatures"
                  color="accent"
              >
                <v-data-table
                  :headers="columnsWithAction"
                  :items="userInfo.eventRegistrations"
                  sort-by="calories"
                  class="elevation-1"
                >
                </v-data-table>
              </material-card>
            </v-col>
            <v-col
            cols="12"
            md="6"
            >
              <material-card
                  dark
                  icon="mdi-clipboard-plus"
                  icon-small
                  title="Mes participations actuelles"
                  color="accent"
              >
                <v-data-table
                  :headers="columnsWithAction"
                  :items="userInfo.events"
                  sort-by="calories"
                  class="elevation-1"
                >
                </v-data-table>
              </material-card>
            </v-col>
        </v-row>
        <v-row>
          <v-col
          cols="12"
          md="6"
          >
            <material-card
                dark
                icon="mdi-clipboard-plus"
                icon-small
                title="Historique de mes évènements créés"
                color="accent"
            >
              <v-data-table
                :headers="columnsWithAction"
                :items="userInfo.events.filter(element=>{
                  if(isBefore(element.date))
                    return element
                })"
                sort-by="calories"
                class="elevation-1"
              >
              </v-data-table>
            </material-card>
          </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <material-card
            dark
            icon="mdi-clipboard-plus"
            icon-small
            title="Historique de mes participations"
            color="accent"
          >
            <v-data-table
              :headers="columnsWithAction"
              :items="userInfo.eventRegistrations.filter(element=>{
                if(isBefore(element.event.date))
                  return element.event
              })"
              sort-by="calories"
              class="elevation-1"
            >
            </v-data-table>
          </material-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import api from "../api";
import MaterialCard from "../components/MaterialCard.vue";
import moment from "moment";

export default {
  components: { MaterialCard },
  data() {
    return {
      userInfo: {},
      columnsWithAction: [
        {
          text: "Evenement",
          align: "start",
          sortable: false,
          value: "title",
        },
        { text: "Organisateur", value: "email" },
        { text: "Date", value: "date" },
        { text: "Places", value: "nbParticipant" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      // columnsWithNumber: [
      //   {
      //     text: "Evenement",
      //     align: "start",
      //     sortable: false,
      //     value: "title",
      //   },
      //   { text: "Organisateur", value: "email" },
      //   { text: "Date", value: "date" },
      //   { text: "Nombre de participants", value: "date" },
      // ],
    };
  },
  mounted: function() {
    api
      .fym()
      .user.getUser(this.$store.get("user/decodedToken").id)
      .then((response) => {
        console.log(response);
        this.userInfo = response;
      })
      .catch((error) =>
        console.error("Error on getting user informations", error)
      );
  },
  methods: {
    isBefore: function (date) {
      moment(date).isBefore(moment())
    }
  },
};
</script>

<style></style>
