<template>
  <div v-if="loading">
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </div>
  <div v-else>
    <div>
      <v-row>
        <v-col cols="12" md="12">
          <app-card class="mt-4 text-center">
            <v-img
              class="rounded-circle elevation-6 mt-n12 d-inline-block"
              src="https://picsum.photos/200/300"
              width="128"
              height="128"
            />

            <v-card-text class="text-center">
              <h6 class="text-h6 mb-2 text--secondary">
                Créer par {{ getEventOrganizer(event) }} ⭐
              </h6>

              <h1 class="text-h1 mb-2 text--primary">
                {{ event.title }}
              </h1>

              <h3 class="text-h3 mb-2 text--primary">
                {{ eventDateFormat(event.date) }}
              </h3>

              <h4 class="text-h4 mb-2 text--primary">
                <v-icon left> mdi-account-group-outline </v-icon>
                {{ getParticipants(event) }}
              </h4>

              <p class="text--secondary">
                {{ event.description }}
              </p>

              <div
                v-if="
                  getEventOrganizer(event) !==
                    $store.get('user/decodedToken').username
                "
              >
                <v-btn
                  class="mr-0"
                  color="primary"
                  min-width="100"
                  rounded
                  :disabled="
                    getLastEventRegistrationById(event)
                      ? getLastEventRegistrationById(event).hasOwnProperty(
                          'validation'
                        )
                        ? getLastEventRegistrationById(event).validation
                          ? false
                          : true
                        : true
                      : false
                  "
                  v-on="
                    getLastEventRegistrationById(event).validation
                      ? {
                          click: () =>
                            quitEvent(
                              event.eventRegistrations.filter(
                                (er) =>
                                  er.participant.id === user.id && er.validation
                              )
                            ),
                        }
                      : event.eventRegistrations.length === 0 ||
                        event.eventRegistrations
                          .filter((e) => e.participant.id !== user.id)
                          .sort(function(a, b) {
                            return b.updatedAt - a.updatedAt;
                          })[0]
                      ? { click: () => joinEvent(event) }
                      : {}
                  "
                >
                  <span
                    v-if="
                      getLastEventRegistrationById(event).hasOwnProperty(
                        'validation'
                      )
                        ? !getLastEventRegistrationById(event).validation
                        : false
                    "
                    >Votre candidature a été refusée</span
                  >
                  <span
                    v-else-if="
                      getEventRegistrationsNotByUserId(event) &&
                        !getLastEventRegistrationById(event)
                    "
                    >Rejoindre</span
                  >
                  <span
                    v-else-if="
                      getLastEventRegistrationById(event)
                        ? getLastEventRegistrationById(event).hasOwnProperty(
                            'validation'
                          )
                          ? false
                          : true
                        : false
                    "
                    >Votre candidature est en attente</span
                  >
                  <span
                    v-else-if="getLastEventRegistrationById(event).validation"
                  >
                    Quitter l'évenement
                  </span>
                </v-btn>
              </div>
              <div
                v-else-if="
                  getEventOrganizer(event) ===
                    $store.get('user/decodedToken').username
                "
              >
                <v-btn
                  class="mr-0"
                  color="primary"
                  min-width="100"
                  rounded
                  @click="cancelEvent(event)"
                >
                  Annuler l'évenement
                </v-btn>
              </div>
            </v-card-text>
          </app-card>
        </v-col>
      </v-row>
      <v-row
        v-if="
          getEventOrganizer(event) ===
            $store.get('user/decodedToken').username && event.eventRegistrations
        "
      >
        <v-col cols="12" md="6">
          <material-card
            dark
            icon="mdi-clipboard-plus"
            icon-small
            title="Demandes"
            color="accent"
          >
            <v-data-table
              :headers="headerRequests"
              :items="requests"
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-btn
                  color="red"
                  @click="
                    revokeParticipation(
                      event.eventRegistrations.filter(
                        (er) =>
                          er.participant.id === item.id &&
                          !er.hasOwnProperty('validation')
                      )
                    )
                  "
                  class="mr-2"
                >
                  <v-icon left small>
                    mdi-close
                  </v-icon>
                  Refuser
                </v-btn>
                <v-btn
                  color="green"
                  @click="
                    acceptParticipation(
                      event.eventRegistrations.filter(
                        (er) =>
                          er.participant.id === item.id &&
                          !er.hasOwnProperty('validation')
                      )
                    )
                  "
                  class="mr-2"
                >
                  <v-icon left small>
                    mdi-check
                  </v-icon>
                  Accepter
                </v-btn>
              </template>
            </v-data-table>
          </material-card>
        </v-col>
        <v-col cols="12" md="6">
          <material-card
            dark
            icon="mdi-clipboard-plus"
            icon-small
            title="Participants"
            color="accent"
          >
            <v-data-table
              :headers="headerParticipants"
              :items="participants"
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-btn
                  color="orange"
                  @click="
                    revokeParticipation(
                      event.eventRegistrations.filter(
                        (er) => er.participant.id === item.id && er.validation
                      )
                    )
                  "
                  class="mr-2"
                >
                  <v-icon left small>
                    mdi-close
                  </v-icon>
                  Expulser
                </v-btn>
              </template>
            </v-data-table>
          </material-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import api from "../api";
import MaterialCard from "../components/MaterialCard.vue";
import moment from "moment";
import { orderBy } from "lodash";

export default {
  name: "EvenementProfil",
  components: { MaterialCard },
  data() {
    return {
      event: {},
      loading: false,
      user: {},
      headerParticipants: [
        {
          text: "Nom",
          align: "start",
          sortable: false,
          value: "lastName",
        },
        { text: "Prenom", value: "firstName" },
        { text: "E-mail", value: "email" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      headerRequests: [
        {
          text: "Nom",
          align: "start",
          sortable: false,
          value: "lastName",
        },
        { text: "Prenom", value: "firstName" },
        { text: "E-mail", value: "email" },
        { text: "Téléphone", value: "tel" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      requests: [],
      participants: [],
    };
  },
  mounted: function() {
    this.getEvent();
  },
  methods: {
    eventDateFormat: (date) => {
      return moment(date).format("DD/MM/YYYY - HH");
    },
    getEventRegistrationsNotByUserId(event) {
      let eventUser = event.eventRegistrations.filter(
        (e) => e.participant.id !== this.user.id
      );

      const sortedArray = _.orderBy(
        eventUser,
        (o) => {
          console.log(o);
          return moment(o.updatedAt ? o.updatedAt : o.createdAt);
        },
        ["desc"]
      );

      if (sortedArray.length > 0) {

        return sortedArray[0];
      } else {
        return {};
      }
    },
    getLastEventRegistrationById(event) {
      let eventUser = event.eventRegistrations.filter(
        (e) => e.participant.id === this.user.id
      );

      const sortedArray = _.orderBy(
        eventUser,
        (o) => {
          return moment(o.updatedAt ? o.updatedAt : o.createdAt);
        },
        ["desc"]
      );

      if (sortedArray.length > 0) {
        return sortedArray[0];
      } else {
        return false;
      }
    },
    getParticipants(event) {
      if (event)
        if (event.eventRegistrations)
          return event.eventRegistrations.filter((e) => e.validation).length;
        else return 0;
      else return 0;
    },
    getEventOrganizer(event) {
      if (event && event.organizer && event.organizer.email) {
        return event.organizer.email;
      }
    },
    getEvent() {
      this.loading = true;

      if (
        this.$router.history &&
        this.$router.history.current.params &&
        this.$router.history.current.params.id
      )
        api
          .fym()
          .event.getEvent(this.$router.history.current.params.id)
          .then((response) => {
            let in_wait = response.eventRegistrations.filter(
              (er) => !er.hasOwnProperty("validation")
            );

            let validate = response.eventRegistrations.filter(
              (er) => er.validation
            );

            this.event = response;

            this.requests = in_wait.map((a) => {
              return {
                ...a.participant,
              };
            });

            this.participants = validate.map((a) => {
              return {
                ...a.participant,
              };
            });

            console.log(this.requests);
            console.log(this.participants);
          })
          .catch((error) => console.error("Error on getting event", error))
          .finally(() => {
            api
              .fym()
              .user.getUser(this.$store.get("user/decodedToken").id)
              .then((response) => {
                console.log(response);
                this.user = response;
              })
              .catch((error) => console.error("Error on getting user", error))
              .finally(() => (this.loading = false));
          });
      else {
        console.log(this.$router);
        this.loading = false;
      }
    },
    cancelEvent(event) {
      console.log("cancel event", event);
      api
        .fym()
        .event.deleteEvent(event.id)
        .then((response) => {
          console.log(response);
          this.$router.history.push("/");
        })
        .catch((error) => console.error("Error in deleting event", error));
    },
    quitEvent(eventRegistration) {
      console.log("quit event", eventRegistration);

      if (eventRegistration.length > 0) {
        api
          .fym()
          .eventRegistration.deleteEventRegistration(eventRegistration[0].id)
          .then((response) => console.log(response))
          .catch((error) => console.error("Error on quitting event", error))
          .finally(() => this.getEvent());
      } else return;
    },
    joinEvent(event) {
      console.log("join event", event);
      api
        .fym()
        .eventRegistration.createEventRegistration({
          event: `events/${event.id}`,
          participant: `users/${this.user.id}`,
        })
        .then((response) => console.log(response))
        .catch((error) => console.error("Error on joining event", error))
        .finally(() => this.getEvent());
    },
    revokeParticipation(eventRegistration) {
      console.log("revoke participation", eventRegistration);
      if (eventRegistration.length > 0) {
        eventRegistration[0].validation = false;
        console.log("revoke participant", eventRegistration[0]);
        api
          .fym()
          .eventRegistration.updateEventRegistration(
            eventRegistration[0].id,
            eventRegistration[0]
          )
          .then((response) => console.log(response))
          .catch((error) => console.error("Error on quitting event", error))
          .finally(() => this.getEvent());
      } else return;
    },
    acceptParticipation(eventRegistration) {
      if (eventRegistration.length > 0) {
        eventRegistration[0].validation = true;
        console.log("accept participant", eventRegistration[0]);
        api
          .fym()
          .eventRegistration.updateEventRegistration(
            eventRegistration[0].id,
            eventRegistration[0]
          )
          .then((response) => console.log(response))
          .catch((error) => console.error("Error on quitting event", error))
          .finally(() => this.getEvent());
      } else return;
    },
  },
};
</script>

<style></style>
