<template>
  <v-container id="user-profile-view" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="8">
        <material-card color="primary" icon="mdi-clipboard-plus">
          <template #title>
            Création de ton évenement
          </template>
          <v-form>
            <v-container class="py-0">
              <vuemik :onFinish="onFinish">
                <v-row>
                  <v-col cols="12" md="12">
                    <field type="text" name="title" label="Nom de l'event" />
                  </v-col>

                  <v-col cols="12">
                    <field
                      type="textarea"
                      as="vuemik_textarea"
                      name="description"
                      label="Description"
                    />
                  </v-col>

                  <v-col cols="12" md="12">
                    <field
                      type="text"
                      name="address"
                      label="Adresse de l'event"
                    />
                  </v-col>

                  <v-col cols="12" md="6">
                    <field
                      type="text"
                      name="additionnalAddress"
                      label="Complement d'adresse"
                    />
                  </v-col>

                  <v-col cols="12" md="6">
                    <field type="text" name="postalCode" label="Code postal" />
                  </v-col>

                  <v-col cols="12" md="4">
                    <field type="date" name="date" label="Date" />
                  </v-col>

                  <v-col cols="4">
                    <field
                      type="select"
                      as="vuemik_select"
                      :options="categories"
                      name="category"
                      label="Categorie"
                    />
                  </v-col>
                </v-row>
                <template slot="submit">
                  <v-col cols="12" class="text-right">
                    <v-btn color="primary" min-width="150" type="submit">
                      Création
                    </v-btn>
                  </v-col>
                </template>
              </vuemik>
            </v-container>
          </v-form>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from "../api";
import MaterialCard from "../components/MaterialCard.vue";
export default {
  components: { MaterialCard },
  data() {
    return {
      categories: [],
    };
  },
  mounted: function() {
    api
      .fym()
      .category.getAllCategory()
      .then((response) => {
        this.categories = response.map((r, index) => {
          return { text: r.name, value: r.id }; //set value to if when its available
        });
      })
      .catch((error) =>
        console.error("Error on getting all categories", error)
      );
  },
  methods: {
    onFinish: function(values) {
      console.log(values);
      api
        .fym()
        .event.createEvent(values)
        .then((response) => console.log(response))
        .catch((error) => console.error("Error on creating event", error));
    },
  },
};
</script>

<style></style>
