<template>
  <div>
    <div>
      <v-row>
        <v-col cols="12" md="4">
          <material-card color="primary" icon="mdi-calendar-check">
            <template #title>
              {{
                todayEvent
                  ? "Mon évènement du jour"
                  : "Pas d'évènement aujourd'hui"
              }}
            </template>

            <template #subtitle>
              {{ todayEvent ? todayEvent.title : "" }} -
              {{ getHourDate(todayEvent ? todayEvent.date : "") }}
              <v-icon class="mr-1 ml-1" small>
                mdi-account-group-outline
              </v-icon>

              <span
                class="mr-1 text-caption grey--text font-weight-light"
                v-text="getParticipants(todayEvent)"
              />
            </template>

            <v-container class="overflow-y-auto">
              <v-row class="pa-4">
                <v-col cols="12">
                  <p>
                    {{ todayEvent ? todayEvent.description : "" }}
                  </p>
                </v-col>
              </v-row>
            </v-container>
          </material-card>
        </v-col>
        <v-col cols="12" md="8">
          <v-row justify="space-between">
            <v-col cols="10">
              <h4>Mes prochains évenements</h4>
            </v-col>
            <v-col cols="2">
              <v-btn to="/create/event">Créer un évenement</v-btn>
            </v-col>
          </v-row>
          <v-sheet class="mx-auto" elevation="5">
            <v-tabs v-model="tab" align-with-title>
              <v-tabs-slider></v-tabs-slider>

              <v-tab v-for="item in items" :key="item">
                {{ item }}
              </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
              <v-tab-item v-for="item in items" :key="item">
                <v-slide-group class="pa-4" show-arrows>
                  <v-slide-item
                    v-for="(event, index) in nextEvent"
                    :key="index"
                    v-slot="{ toggle }"
                  >
                    <v-card
                      elevation="10"
                      class="ma-4"
                      width="300"
                      @click="
                        toggle($event);
                        redirectToEventDetail($event, event);
                      "
                    >
                      <v-img
                        src="https://picsum.photos/200/300"
                        height="200px"
                      ></v-img>

                      <v-card-title>
                        {{ event.title }}
                      </v-card-title>

                      <v-card-subtitle
                        style="display: flex; align-items: center"
                      >
                        <v-icon left>mdi-account-group</v-icon>
                        <div>{{ getParticipants(event) }}</div>
                      </v-card-subtitle>
                      <v-card-actions>
                        <v-btn
                          text
                          @click="redirectToEventDetail($event, event)"
                        >
                          Voir plus
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                          class="donotredirect"
                          icon
                          @click="show = show === event.id ? false : event.id"
                        >
                          <v-icon>{{
                            show === event.id
                              ? "mdi-chevron-up"
                              : "mdi-chevron-down"
                          }}</v-icon>
                        </v-btn>
                      </v-card-actions>
                      <v-expand-transition>
                        <div v-show="show === event.id">
                          <v-divider></v-divider>

                          <v-card-text>
                            {{ event.description }}
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-slide-item>
                </v-slide-group>
              </v-tab-item>
            </v-tabs-items>
          </v-sheet>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="12">
          <v-row justify="space-between">
            <v-col cols="4">
              <h4>Les évenements disponibles</h4>
              <v-select
                name="categories"
                placeholder="Categories"
                :items="categories"
                v-model="category"
                @input="filterBy"
              ></v-select>
            </v-col>
          </v-row>
          <v-sheet class="mx-auto" elevation="5">
            <v-slide-group class="pa-4" show-arrows>
              <v-slide-item
                v-for="(event, index) in events"
                :key="index"
                v-slot="{ toggle }"
              >
                <v-card
                  elevation="10"
                  class="ma-4"
                  width="300"
                  @click="
                    toggle($event);
                    redirectToEventDetail($event, event);
                  "
                >
                  <v-img
                    src="https://picsum.photos/200/300"
                    height="200px"
                  ></v-img>

                  <v-card-title>
                    {{ event.title }}
                  </v-card-title>

                  <v-card-subtitle style="display: flex; align-items: center">
                    <v-icon left>mdi-account-group</v-icon>
                    <div>{{ getParticipants(event) }}</div>
                  </v-card-subtitle>

                  <v-card-actions>
                    <v-btn text @click="redirectToEventDetail($event, event)">
                      Je participe
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                      class="donotredirect"
                      icon
                      @click="show = show === event.id ? false : event.id"
                    >
                      <v-icon>{{
                        show === event.id
                          ? "mdi-chevron-up"
                          : "mdi-chevron-down"
                      }}</v-icon>
                    </v-btn>
                  </v-card-actions>
                  <v-expand-transition>
                    <div v-show="show === event.id">
                      <v-divider></v-divider>

                      <v-card-text>
                        {{ event.description }}
                      </v-card-text>
                    </div>
                  </v-expand-transition>
                </v-card>
              </v-slide-item>
            </v-slide-group>
          </v-sheet>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import api from "../api";
import MaterialCard from "../components/MaterialCard.vue";
import moment from "moment";

export default {
  components: { MaterialCard },
  data: function() {
    return {
      categories: [],
      category: "",
      tab: null,
      items: ["Mes prochains évenements", "Evenement auxquelles je participe"],
      userEvents: [],
      events: [],
      userEventsOrganized: [],
      show: "",
      nextEvent: [],
      users: [],
      todayEvent: {},
    };
  },
  methods: {
    selectCategories(event) {
      console.log(event.target.value);
      this.categories = event.target.value;
    },
    redirectToEventDetail(e, event) {
      console.log(
        "redirect user to event",
        e,
        e.target.closest(".donotredirect")
      );
      if (!e.target.closest(".donotredirect"))
        this.$router.push(`evenements/${event.id}`);
    },
    filterBy() {
      console.log("catergory sel", this.category);
      api
        .fym()
        .event.getAllEvent({ "category.name": this.category })
        .then((response) => {
          console.log(response);
          this.events = response;
        })
        .catch((error) => console.error("Error on getting events", error));
    },
    getParticipants(event) {
      if (event)
        if (event.eventRegistrations)
          return event.eventRegistrations.filter((e) => e.validation).length;
        else return 0;
      else return 0;
    },
    getHourDate(date) {
      console.log("date", date);
      return date === "" ? date : moment(date).format("HH:MM");
    },
  },
  watch: {
    tab: function(val, oldVal) {
      console.log("tab update", val);
      if (val === 0) this.nextEvent = this.userEventsOrganized;
      else if (val === 1) this.nextEvent = this.userEvents;
    },
  },
  mounted: function() {
    api
      .fym()
      .event.getAllEvent()
      .then((response) => {
        console.log(response);
        this.events = response;
      })
      .catch((error) => {
        console.error("Error on getting events", error);
      });

    api
      .fym()
      .user.getUser(this.$store.get("user/decodedToken").id || 3)
      .then((response) => {
        this.todayEvent = response.events.filter((e) =>
          moment(e.date).isSame(moment(), "day")
        )[0];

        this.userEventsOrganized = response.events;
        let eventFiltered = [];
        response.eventRegistrations.forEach((e) => {
          console.log("EVEEEENT", e.event);
          if (e.validation) eventFiltered.push(e.event);
        });
        this.userEvents = eventFiltered;
        this.nextEvent = response.events;
      })
      .catch((error) => console.error("Error on getting user data", error));

    api
      .fym()
      .category.getAllCategory()
      .then((response) => {
        console.log(response);

        this.categories = response.map((r, index) => {
          return { text: r.name, value: r.name }; //set value to if when its available
        });
      })
      .catch((error) => console.error("Error on getting categories", error));
  },
};
</script>

<style></style>
