<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="auto" md="8" lg="6" sm="12" xs="12" xl="4">
        <material-card color="primary" full-header>
          <template #heading>
            <div class="pa-6 white--text">
              <div class="text-h4 font-weight-light">
                Mot de passe oublié
              </div>
              <div class="text-subtitle-1">
                Entrer votre adresse mail
              </div>
            </div>
          </template>
          <v-card-text class="text--primary">
            <vuemik :onFinish="onFinish">
              <field
                name="mail"
                label="Adresse mail"
                placeholder="Adresse mail"
                type="text"
              />
              <v-btn type="submit" block color="primary" slot="submit">
                Envoyer
              </v-btn>
            </vuemik>
          </v-card-text>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from "../api";
export default {
  name: "ForgotPassword",
  methods: {
    onFinish: function(values) {
      console.log(values);
      api
        .fym()
        .auth.remindpassword({ email: values.mail })
        .then((result) => {
          console.log(result);
          this.$router.push("/");
        })
        .catch((error) => {
          console.log("in login", error);
        });
    },
  },
};
</script>

<style></style>
