<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="auto" md="8" lg="6" sm="12" xs="12" xl="4">
        <v-alert
          class="mb-12"
          border="left"
          color="error"
          dark
          v-if="error_api"
        >
          {{ error_api }}
        </v-alert>
        <material-card color="primary" full-header>
          <template #heading>
            <div class="pa-6 white--text">
              <div class="text-h4 font-weight-light">
                Se Connecter
              </div>

              <div class="text-subtitle-1">
                Connectez-vous et entrer dans l'univers de FindYourMate
              </div>
            </div>
          </template>
          <v-card-text class="text--primary">
            <vuemik :onFinish="onFinish" :validationSchema="validationSchema">
              <field
                name="email"
                label="E-mail"
                placeholder="E-mail"
                type="text"
              />
              <field
                name="password"
                label="Mot de passe"
                placeholder="Mot de passe"
                type="password"
              />
              <v-btn
                type="submit"
                block
                color="primary"
                slot="submit"
                :loading="loading"
                >Se connecter</v-btn
              >
            </vuemik>
            <v-row>
              <v-col cols="6">
                <v-btn block link text to="/sign-up" :disabled="loading"
                  >Pas de compte? Rejoins, nous !</v-btn
                >
              </v-col>
              <v-col cols="6">
                <v-btn block link text to="/forgot-password" :disabled="loading"
                  >Mot de passe oublié</v-btn
                >
              </v-col>
            </v-row>
          </v-card-text>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from "../api";
import * as Yup from "yup";
import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Login",
  data: function() {
    return {
      loading: false,
      error_api: false,
      validationSchema: () => {
        return Yup.object().shape({
          email: Yup.string()
            .email("Veuillez saisir un format d'e-mail correct")
            .required("Veuillez saisir votre adresse mail"),
          password: Yup.string().required("Veuillez saisir votre mot de passe"),
        });
      },
    };
  },
  methods: {
    onFinish: function(values) {
      this.loading = true;
      this.error_api = false;

      if (values.email && values.password)
        api
          .fym()
          .auth.login(values.email, values.password)
          .then((result) => {
            // console.log(result);
            this.$store.set("user/accessToken", result.token);
            this.$store.set(
              "user/decodedToken",
              VueJwtDecode.decode(result.token)
            );
            this.$store.set("user/refreshToken", result.refresh_token);
            this.$router.push("/");
          })
          .catch((error) => {
            console.error("Error on logging", error);

            this.error_api = `${error.code} - ${error.message}`;
          })
          .finally(() => {
            this.loading = false;
          });
      else {
        this.loading = false;
        this.error_api =
          "Veuillez saisir votre adresse email et/ou mot de passe";
      }
    },
  },
  mounted() {},
};
</script>

<style></style>
