<template>
  <div v-if="loading">
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </div>
  <v-container id="user-profile-view" fluid tag="section" v-else>
    <v-row justify="center">
      <v-col cols="12" md="4">
        <app-card class="mt-4 text-center">
          <v-img
            class="rounded-circle elevation-6 mt-n12 d-inline-block"
            src="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"
            width="128"
          />

          <v-card-text class="text-center">
            <h6
              v-if="userInfo.certification && userInfo.certification.validation"
              class="text-h6 mb-2 text--secondary"
            >
              Certifié
            </h6>

            <h4 class="text-h4 mb-3 text--primary">
              {{ userInfo.firstName }} {{ userInfo.lastName }}
            </h4>

            <p class="text--secondary">
              {{ userInfo.email }}
            </p>

            <v-btn
              class="mr-0"
              color="primary"
              min-width="100"
              rounded
              @click="certification()"
            >
              Demander à être certifié
            </v-btn>
          </v-card-text>
        </app-card>
      </v-col>
      <v-col cols="12" md="8">
        <material-card color="primary" icon="mdi-account-outline">
          <template #title>
            Editer votre profil
          </template>

          <v-container class="py-0">
            <vuemik :onFinish="onFinish" :initialValues="{ ...userInfo }">
              <v-row>
                <v-col cols="12" md="4">
                  <field type="text" name="lastname" label="Nom" />
                </v-col>

                <v-col cols="12" md="4">
                  <field type="text" name="firstName" label="Prenom" />
                </v-col>

                <v-col cols="12" md="4">
                  <field type="date" name="birthday" label="Aniversaire" />
                </v-col>

                <v-col cols="12" md="8">
                  <field type="text" name="address" label="Adresse" />
                </v-col>

                <v-col cols="12" md="4">
                  <field type="text" name="postalCode" label="Code postal" />
                </v-col>
              </v-row>
              <template slot="submit">
                <v-col cols="12" class="text-right">
                  <v-btn color="primary" min-width="150" type="submit">
                    Création
                  </v-btn>
                </v-col>
              </template>
            </vuemik>
          </v-container>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from "../api";
import MaterialCard from "../components/MaterialCard.vue";
import * as Yup from "yup";

export default {
  components: { MaterialCard },
  data() {
    return {
      userInfo: {},
      loading: false,
    };
  },
  mounted: function() {
    this.getData();
  },
  methods: {
    getData: function() {
      this.loading = true;
      api
        .fym()
        .user.getUser(this.$store.get("user/decodedToken").id)
        .then((response) => {
          console.log(response);
          this.userInfo = response;
        })
        .catch((error) =>
          console.error("Error on getting user informations", error)
        )
        .finally(() => (this.loading = false));
    },
    onFinish: function(values) {
      console.log(
        "form submitted",
        values,
        this.$store.get("user/decodedToken").id
      );
      api
        .fym()
        .user.editUser(this.$store.get("user/decodedToken").id, values)
        .then((response) => {
          console.log(response.replace("patch", ""));
        })
        .catch((error) => console.error("Error on creating user", error));
    },
    certification: function() {
      api
        .fym()
        .certfications.createCertification({
          path: "",
          userCertification: `users/${this.userInfo.id}`,
        })
        .then((response) => {
          console.log(response);
          this.getData();
        })
        .catch((error) =>
          console.error("Error on create certification", error)
        );
    },
  },
};
</script>

<style></style>
