<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="auto" md="8" lg="6" sm="12" xs="12" xl="4">
        <material-card color="primary" full-header>
          <template #heading>
            <div class="pa-6 white--text">
              <div class="text-h4 font-weight-light">
                Inscription
              </div>

              <div class="text-subtitle-1"></div>
            </div>
          </template>
          <v-card-text class="text--primary">
            <vuemik :onFinish="onFinish">
              <field name="nom" label="Nom" placeholder="Nom" type="text" />
              <field
                name="prenom"
                label="Prenom"
                placeholder="Prenom"
                type="text"
              />
              <field
                name="email"
                label="Adresse mail"
                placeholder="Adresse mail"
                type="text"
              />
              <field
                name="birthday"
                label="Date de naissance"
                placeholder="Date de naissance"
                type="date"
              />
              <field
                name="password"
                label="Mot de passe"
                placeholder="Mot de passe"
                type="password"
              />
              <field
                name="confirm_password"
                label="Confirmer votre mot de passe"
                placeholder="Confirmer votre mot de passe"
                type="password"
              />
              <v-btn
                type="submit"
                block
                color="primary"
                slot="submit"
                :loading="loading"
                >S'inscrire</v-btn
              >
            </vuemik>
          </v-card-text>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from "../api";

export default {
  name: "SignUp",
  data: () => {
    return {
      loading: false,
    };
  },
  methods: {
    onFinish: function(values) {
      console.log(values);
      this.loading = true;

      api
        .fym()
        .auth.signup(values)
        .then((result) => {
          console.log(result);
          this.$router.push("/");
        })
        .catch((error) => {
          console.error(error);
          error.json().then((body) => {
            console.log(body);
            // this.error_api = `${body.code} - ${body.message}`;
          });
        })
        .finally(() => (this.loading = false));
    },
  },
};
</script>

<style></style>
