<template>
  <Vuemik
    :initialValues="{
      date: '2020-12-06',
      name: 'sofiane',
    }"
    :onFinish="onFinish"
    :validationSchema="validationSchema"
  >
    <Field placeholder="Date" name="date" type="date"></Field>
    <Field
      placeholder="Select"
      name="select"
      type="select"
      as="vuemik_select"
      :options="[
        { text: 'France', value: 'france' },
        { text: 'Tunisie', value: 'tunisie' },
      ]"
      label="test select label"
    ></Field>
    <Field
      placeholder="text"
      name="text"
      as="vuemik_textarea"
      label="label textarea"
      :rows="1"
      :maxLength="5"
    ></Field>
    <Field
      placeholder="Nom"
      name="name"
      type="text"
      value="Sofiane"
      label="bruh"
    ></Field>
    <Field
      placeholder="password"
      name="password"
      type="password"
      value="Sofiane"
      label="password"
    ></Field>
    <Field placeholder="eee" name="test" type="text" :component="y()"></Field>
    <Field
      placeholder="AAAA"
      name="aaa"
      type="checkbox"
      :checked="true"
      label="test"
    >
    </Field>
    <Field placeholder="ZZZZ" name="eeee" type="text" value="XX">
      <template slot-scope="{ childProps, updateVal }"
        ><label
          >test<input
            v-bind="childProps"
            :value="childProps.value"
            @input="updateVal"/></label
      ></template>
    </Field>
    <Field
      placeholder="radio"
      name="radio"
      type="radio"
      value="XX"
      :options="[
        { label: 'France', value: 'france' },
        { label: 'Tunisie', value: 'tunisie' },
      ]"
    >
    </Field>
  </Vuemik>
</template>

<script>
import Vuemik from "../components/Vuemik/Vuemik";
import Field from "../components/Vuemik/Field";
import Vue from "vue";
import * as Yup from "yup";
import router from "../router";

export default {
  name: "TestVueMik",
  components: {
    Vuemik,
    Field,
  },
  data: function() {
    return {
      y: () => {
        return Vue.component("y", {
          template:
            "<input v-bind:value='value' v-bind:checked='value' v-on:input='updateVal' v-bind='$props' />",
          props: {
            type: String,
            name: String,
            placeholder: String,
            error: String,
            validate: Function,
            label: String,
            value: { type: [String, Boolean, Number, Array] },
            updateVal: Function,
          },
        });
      },
      onFinish: (values) => {
        console.log("onFinish values", values);
      },
      validationSchema: () => {
        return Yup.object().shape({
          test: Yup.string().required("Test is required"),
          name: Yup.string().required("Name is required"),
          eeee: Yup.string().required("EEEE is required"),
          radio: Yup.string().required("RADIO is required"),
          select: Yup.string().required("SELECT is required"),
          text: Yup.string().required("TEXT is required"),
        });
      },
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
