<template>
  <v-app>
    <admin-bar />

    <admin-drawer />

    <admin-view />

    <!-- <admin-settings /> -->
  </v-app>
</template>

<script>
  export default {
    name: 'AdminLayout',

    components: {
      AdminBar: () => import(
        './AppBar'
      ),
      AdminDrawer: () => import(
        './Drawer'
      ),
    //   DefaultSettings: () => import(
    //     './Settings'
    //   ),
      AdminView: () => import(
        '../default/View'
      ),
    },
  }
</script>
