<template>
  <v-main>
    <v-alert
      v-if="error_message"
      dense
      border="bottom"
      type="error"
      @close="closeAlert"
      dismissible
    >
      {{ error_message }}
    </v-alert>
    <v-container fluid>
      <router-view :key="$route.path" />
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "DefaultView",
  data() {
    return {
      error_message: "",
    };
  },
  methods: {
    closeAlert: function() {
      this.error_message = "";
      this.$route.params.error_message = "";
    },
  },
  mounted: function() {
    this.error_message = this.$route.params.error_message;
  },
};
</script>
